.slider {
  background: transparant;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  margin: 5px;
}

.slider:before {
  content: "";
  position: absolute;
  border: 8px solid white;
  inset: -3px;
  border-radius: 50%;
}

.slider-control {
  position: absolute;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background: rgb(160, 160, 160);
  border: 3px solid rgb(145, 145, 145);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  touch-action: none;
}
