main {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

section {
  margin-bottom: 4rem;
}

.tile {
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-border);
  box-shadow: var(--box-shadow);
  background-color: var(--bg-secondary);
}

h1 {
  margin-bottom: 0;
  margin-top: 1rem;
}

.introduction-wrapper {
  flex-grow: 1;
}

.introduction {
  min-height: 360px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin-left: 1rem;
}

.tile-list > li:not(last-child) {
  margin-bottom: 1rem;
}

.project {
  min-height: 120px;
  position: relative;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  h3 {
    margin: 0;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  .github-link {
    position: static;
    height: 24px;
    width: 24px;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;

    svg {
      height: 100%;
      width: 100%;
    }

    &:hover {
      transform: scale(1.2);
    }

    svg path {
      fill: var(--clr-text);
    }
  }
}

.project:hover {
  transform: scale(1.05);
}

.project-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-subcategory {
  margin-bottom: 3rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill {
  border-radius: 100vw;
  background-color: var(--bg-secondary);
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}

.skill.light {
  background-color: var(--clr-text);
  color: var(--bg-secondary);
}

.function-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.function-title {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .tile-list.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 0;
  }

  .project {
    flex: 1 1 auto;
    min-width: calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 1024px) {
  .tile-list.projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
