main {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

section {
  margin-bottom: 4rem;
}

.separator {
  height: 1px;
  width: 60%;
  margin: 6rem auto;
  background: var(--clr-text);
}

.tile {
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-border);
  box-shadow: var(--box-shadow);
  background-color: var(--bg-secondary);
  position: relative;
}

h1 {
  margin-bottom: 0;
}

.introduction-wrapper {
  flex-grow: 1;
}

.introduction {
  min-height: 360px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin-left: 1rem;
}

.tile-list > li:not(last-child) {
  margin-bottom: 1rem;
}

.project {
  min-height: 120px;

  h3 {
    margin: 0;
  }

  .icon-link {
    position: static;
    height: 24px;
    width: 24px;
    padding: 5px;
    transition: transform 0.2s ease-out;

    svg {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }

    &:hover {
      transform: scale(1.2);
      transform-origin: center;
    }

    svg path {
      fill: var(--clr-text);
    }
  }
}

.project-title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  h3 {
    flex-grow: 1;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume-subcategory {
  margin-bottom: 3rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill {
  border-radius: 100vw;
  background-color: var(--bg-secondary);
  padding: 0.3rem 1rem;
  box-shadow: var(--box-shadow);
}

.skill.light {
  background-color: var(--clr-text);
  color: var(--bg-secondary);
}

.function-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.function-title {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .tile-list.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 0;
  }

  .project {
    flex: 1 1 auto;
    min-width: calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 1024px) {
  .tile-list.projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
