.socials {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    svg {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        transition: all 0.2s ease-out;
    }

    a {
        height: 24px;
        width: 24px;
        padding: 5px;
    }

    a.shrink {
        height: 20px;
    }

    a:hover svg {
        transform: scale(1.25);

        & path {
            fill: var(--clr-cta);
        }
    }

    svg path {
        fill: var(--clr-cta);
    }
}
