header {
  height: 2.5rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--bg-secondary);
  box-shadow: var(--box-shadow);
  border-bottom: 1px solid var(--clr-border);
}

.spacer {
  height: 4rem;
}

.colorchange-wrapper {
  height: 120px;
  width: 120px;
  transform: translate(-5px, 100px);
  margin-right: 1rem;
  background: var(--bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transform-origin: top right;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  svg {
    height: 100%;
    width: 100%;
  }

  path.sun {
    fill: rgb(255, 213, 73);
  }

  path.moon {
    fill: rgb(219, 219, 219);
  }
}

.colorchange-wrapper.minimized {
  border-radius: unset;
  box-shadow: unset;
  transform: scale(0.25) translate(0, 170px);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  .button-wrapper {
    transform: scale(3) translate(-8px, -5px);
  }
}

.button-wrapper {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.button-show-slider {
  height: 100%;
  width: 100%;
}

.slider-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.colorchange-wrapper.minimized .slider-wrapper {
  opacity: 0;
  visibility: hidden;
}

.button-show-slider {
}
